extends layout

block content
  h1
    a(href="/documents") Home
    span 
    span=title
  - if (document) {
    - if (document.previousDocumentId) {
      p
        a(href=`/documents/${document.previousDocumentId}`) Prevoius document
    - }
    p Version: #{document.version}
    p Date: #{document.date}
    p
      a(href=document.url) #{document.url}
    p

    - if(document.diff) {
      - for (var i=0; i<document.diff.length; i++) {
        - const item = document.diff[i];
        - const firstSimbol = item[0];
        - if (firstSimbol === '+') {
            pre(class="diff added") #{item}
        - } else if (firstSimbol === '-') {
            pre(class="diff removed") #{item}
        - } else if (firstSimbol === '@') {
            pre(class="diff info") #{item}
        - } else {
            pre(class="diff") #{item}
        - }
      - }
    - } else {
      p There are no updates
    - }
  -} else {
    p Document is not found
  -}
