extends layout

block content
  h1= title
  - if (document) {
    p Document: #{document._id}
    p Version: #{document.version}
    p Date: #{document.date}
    a(href=document.url) #{document.url}
    p

    - if(document.diff) {
      - for (var i=0; i<document.diff.length; i++) {
        - const item = document.diff[i];
        - const firstSimbol = item[0];
        - if (firstSimbol === '+') {
            pre(class="diff added") #{item}
        - } else if (firstSimbol === '-') {
            pre(class="diff removed") #{item}
        - } else if (firstSimbol === '@') {
            pre(class="diff info") #{item}
        - } else {
            pre(class="diff") #{item}
        - }
      - }
    - } else {
      p There is no updates
    - }
  -} else {
    p Document is not found
  -}
